[package]
name = "mesh-player"
version.workspace = true
edition.workspace = true

[[bin]]
name = "mesh-player"
path = "src/main.rs"

[dependencies]
rtrb.workspace = true
mesh-core.workspace = true
mesh-widgets.workspace = true
mesh-midi = { path = "../mesh-midi" }
jack.workspace = true
iced.workspace = true
tokio.workspace = true
rayon.workspace = true
basedrop = "0.1"
log = "0.4"
env_logger = "0.11"
anyhow.workspace = true
serde.workspace = true
serde_yaml.workspace = true
dirs.workspace = true
