[package]
name = "mesh-player"
version.workspace = true
edition.workspace = true

[[bin]]
name = "mesh-player"
path = "src/main.rs"

[dependencies]
rtrb.workspace = true
mesh-core.workspace = true
mesh-widgets.workspace = true
jack.workspace = true
iced.workspace = true
tokio.workspace = true
rayon = "1.10"
basedrop = "0.1"
log = "0.4"
env_logger = "0.11"
